.custom-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  font-size: large;
  padding: 5px;
  border-radius: 50%; 
}

.custom-arrow:hover {
  color: #303030;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}

.xetnghiem-text-info {
  h1 {
    color: #00aae7;
  }
  li {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
  }
}

.ant-select-single .ant-select-selector {
  border-radius: 50px;
}